*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1A202C;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(65, 83, 109);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #718096;
}

::selection {
  background: #d47a2c;
}
::-moz-selection {
  background: #d47a2c;
}
